@font-face {
      font-family: 'SourceSansPro';
      src: url('../fonts/SourceSansPro-Bold-compressed.woff2') format('woff2'),
           url('../fonts/SourceSansPro-Bold-compressed.woff') format('woff');
      font-weight: 700;
      font-style: normal;
      font-display: swap;
    }
    @font-face {
      font-family: 'SourceSansPro';
      src: url('../fonts/SourceSansPro-Light-compressed.woff2') format('woff2'),
           url('../fonts/SourceSansPro-Light-compressed.woff') format('woff');
      font-weight: 300;
      font-style: normal;
      font-display: swap;
    }
    @font-face {
      font-family: 'SourceSansPro';
      src: url('../fonts/SourceSansPro-Regular-compressed.woff2') format('woff2'),
           url('../fonts/SourceSansPro-Regular-compressed.woff') format('woff');
      font-weight: 400;
      font-style: normal;
      font-display: swap;
    }
    @font-face {
      font-family: 'SourceSansPro';
      src: url('../fonts/SourceSansPro-Semibold-compressed.woff2') format('woff2'),
           url('../fonts/SourceSansPro-Semibold-compressed.woff') format('woff');
      font-weight: 400;
      font-style: normal;
      font-display: swap;
    }
    