<?php
//global $tg;
//****************************************
                                        
// ðŸ†ƒðŸ…¶                                     
// Wá´Ê€á´…á´˜Ê€á´‡ss Sá´›á´€Ê€á´›á´‡Ê€ TÊœá´‡á´á´‡                  
// @ð‘£ð‘’ð‘Ÿð‘ ð‘–ð‘œð‘› 1.0                            
                                        
//****************************************
// SINGLE TEMPLATE: {{ singleName }}
//****************************************

get_header();
?>

<!-- ******************************** -->
<!-- {{ singleName }} single -->
<!-- ******************************** -->

<main id="primary" class="site-main">
<section class="{{ singleName }}">
    <div class="container-medium">
        <?php while (have_posts()) :
			the_post();

			get_template_part('templates/partials/content', get_post_type());

			the_post_navigation(
				array(
					'prev_text' => '<span class="nav-subtitle">' . esc_html__('Previous:', THEME_TEXT_DOMAIN) . '</span> <span class="nav-title">%title</span>',
					'next_text' => '<span class="nav-subtitle">' . esc_html__('Next:', THEME_TEXT_DOMAIN) . '</span> <span class="nav-title">%title</span>',
				)
			);

			// If comments are open or we have at least one comment, load up the comment template.
			if (comments_open() || get_comments_number()) :
				comments_template();
			endif;

		endwhile; // End of the loop.
		?>
    </div>
</section>
</main>

<?php
get_sidebar();
get_footer();
