/*##############################################
#                  VARIABLES                   #
################################################*/
//##############################################
// slider-full-width
// @version 1.0
// @package tg
//##############################################

//general variables
//$example-var: red;

//desktop variables
//$example-var-desktop: blue;

//mobile variables
//$example-var-mobile: blue;

/*##############################################*/

.slider-full-width {
    width: 100%;
    height: 100%;

    .swiper {
        width: 100%;
        height: 100%;

        @include when(tab-port) {
            min-height: 100%;
        }

        .swiper-slide {

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }

        .swiper-pagination-bullets {

            .swiper-pagination-bullet {
                background: $white;
            }

            .swiper-pagination-bullet-active {
                background: crimson;
            }

            .swiper-pagination-bullet-active-prev {
                background: $white;
            }

            .swiper-pagination-bullet-active-prev-prev {
                background: $white;
            }

        }

    }


}