<?php
//#####################################
// COMPONENT: {{ componentName }}
// @version 1.0
// @package tg
//#####################################
?>


<!-- ########################### -->
<!-- {{ componentName }} -->
<!-- ########################### -->

<section class="{{ componentName }}">
    <div class="container">
        <!-- COMPONENT CODE WILL GO HERE -->
    </div>
</section>

