<?php /* Template Name: {{ pageName }} */

//#####################################
// Page Template: {{ fileName }}
// @version 1.0
// @package tg
//#####################################
?>

<section class="{{ fileName }}">
    <div class="container">
        <!-- PAGE TEMPLATE CODE WILL GO HERE -->
    </div>
</section>

