<?php /* Template Name: {{ pageName }} */

//#####################################
// Page Template: {{ fileName }}
// @version 1.0
// @package tg
//#####################################
get_header();
?>
<main id="primary" class="site-main">
<section class="{{ fileName }}">
    <div class="container">
        <!-- PAGE TEMPLATE CODE WILL GO HERE -->
    </div>
</section>
</main>

<?php
get_sidebar();
get_footer();
