<?php
/* Template Name: {{ pageName }} */
//namespace TG; ---> * Uncomment this line if you will use any of the Theme functions in this file
//****************************************
                                        
// ðŸ†ƒðŸ…¶                                     
// Wá´Ê€á´…á´˜Ê€á´‡ss Sá´›á´€Ê€á´›á´‡Ê€ TÊœá´‡á´á´‡                  
// @ð‘£ð‘’ð‘Ÿð‘ ð‘–ð‘œð‘› 1.0                            
                                        
//****************************************
// PAGE TEMPLATE: {{ fileName }}
//****************************************

get_header();
?>

<!-- ******************************** -->
<!-- {{ pageName }} page template -->
<!-- ******************************** -->

<main id="primary" class="site-main">
<section class="{{ fileName }}">
    <div class="container-medium">
        <!-- PAGE TEMPLATE CODE WILL GO HERE -->
    </div>
</section>
</main>

<?php
get_sidebar();
get_footer();
