/*##############################################
#                HTML AND BODY                 #
################################################*/

html {
    font-size: 62.5%;
    accent-color: $color-primary;
    position: relative;

}

body {
    display: flex;
    flex-direction: column;
    background: $body-bg-color;
    color: $body-text-color;
    margin: 0;
    padding: 0;
    overflow-x: hidden !important;
    min-height: 100vh;
}

//Worpress specific class - makes the main container expand to occupy entire page
.site {
    position: relative;
    flex: 1;
}

.site-main {
    * {
        color: $body-text-color;
    }
}



/*##############################################
#                   HEADINGS                   #
################################################*/

$h1-size: 8rem;
$h2-size: 6rem;
$h3-size: 4rem;
$h4-size: 2rem;
$h5-size: 1.5rem;
$h6-size: 1.2rem;

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    padding: 0;
    font-family: $heading-font !important;
    color: $white;
    line-height: 1;

}

//GENERAL HEADING FONT SIZE CHANGES (COMMENT OUT IF NOT NEEDED)
h1 {
    font-size: $h1-size;
}

h2 {
    font-size: $h2-size;
}

h3 {
    font-size: $h3-size;
}

h4 {
    font-size: $h4-size;
}

h5 {

    font-size: $h5-size;
}

h6 {
    font-size: $h6-size;
}

@include when(tab-port) {

    h1 {
        font-size: calc($h1-size - 3rem);
    }

    h2 {
        font-size: calc($h2-size - 3rem);
    }

    h3 {
        font-size: calc($h3-size - 1.5rem);
    }

    // h4 {
    //     font-size: calc($h4-size - 1rem);
    // }

    // h5 {
    //     font-size: calc($h5-size - 3rem);
    // }

    // h6 {
    //     font-size: calc($h6-size - 3rem);
    // }

}



/*##############################################
#            OTHER TEXT ELEMENTS               #
################################################*/
span.text,
span,
p,
a,
ul,
li,
address {
    font-size: 1.6rem;
}


/*##############################################
#            SELECTION COLORS                  #
################################################*/
::-moz-selection {
    background: $color-primary;
    color: $white;
}

::selection {
    background: $color-primary;
    color: $white;
}

/*##############################################
#            PLACEHOLDER COLORS                #
################################################*/
// Params: (has defaults)
// @mixin place($color, $opacity, $fontfamily, $fontsize, $fontweight)
@include placeholderColor($black, 0.8, $default-font, 1.6rem, regular);


/*##############################################
#                   LINKS                      #
################################################*/
a {
    outline: none;
    text-decoration: none;
    color: $white;
    white-space: nowrap;

    &:hover {
        text-decoration: none;
    }

    a:active,
    a:focus {
        outline: none;
    }
}