/*##############################################
#           RESPONSIVE MEDIA QUERIES           #
################################################*/
@mixin when($breakpoint) {
    @if $breakpoint==extra-small {
        @media only screen and (max-width: 24.375em) {
            @content
        }

        ; //390px
    }

    @if $breakpoint==custom-small {
        @media only screen and (max-width: 26.875em) {
            @content
        }

        ; //430px;
    }

    @if $breakpoint==phone {
        @media only screen and (max-width: 37.5em) {
            @content
        }

        ; //600px
    }

    @if $breakpoint==small-tab {
        @media only screen and (max-width: 45em) {
            @content
        }

        ; //720px
    }

    @if $breakpoint==tab-port {
        @media only screen and (max-width: 56.35em) {
            @content
        }

        ; //900px
    }

    @if $breakpoint==tab-port-up {
        @media only screen and (min-width: 56.25em) {
            @content
        }

        ; //900px
    }

    @if $breakpoint==tab-land {
        @media only screen and (max-width: 75em) {
            @content
        }

        ; //1200px   
    }

    @if $breakpoint==custom-laptop {
        @media only screen and (max-width: 86.875em) {
            @content
        }

        ; //1390px
    }

    @if $breakpoint==custom-desktop {
        @media only screen and (max-width: 89.37em) {
            @content
        }

        ; //1430px
    }

    @if $breakpoint==custom-big-desktop {
        @media only screen and (max-width: 96.188em) {
            @content
        }

        ; //1539px
    }

    @if $breakpoint==laptop {
        @media only screen and (max-width: 105em) {
            @content
        }

        ; //1640px
    }

    @if $breakpoint==before-laptop {
        @media only screen and (max-width: 106.25em) {
            @content
        }

        ; //1700px
    }

    @if $breakpoint==big-desktop {
        @media only screen and (min-width: 112.5em) {
            @content
        }

        ; //1800px
    }
}


//When below X pixels
@mixin when-below($breakpoint) {

    @media only screen and (max-width: $breakpoint) {
        @content
    }

    ;


}


//When above X pixels
@mixin when-above($breakpoint) {

    @media only screen and (min-width: $breakpoint) {
        @content;
    }
}

// Height Media Queries
@mixin when-landscape-above($breakpoint) {

    @media only screen and (min-height: $breakpoint) and (orientation: landscape) {
        @content;
    }

}

@mixin when-landscape-below($breakpoint) {

    @media only screen and (max-height: $breakpoint) and (orientation: landscape) {
        @content;
    }
}


@mixin when-height-above($breakpoint) {

    @media only screen and (min-height: $breakpoint){
        @content;
    }

}

@mixin when-height-below($breakpoint) {

    @media only screen and (max-height: $breakpoint){
        @content;
    }
}






/*##############################################
#       SET FONT SIZE WEIGHT & COLORS          #
################################################*/
@mixin font($size, $weight, $color: $white) {
    font-size: $size !important;

    @if $weight==light {
        font-weight: 300 !important;
    }

    @if $weight==regular {
        font-weight: 400 !important;
    }

    @if $weight==medium {
        font-weight: 500 !important;
    }

    @if $weight==semibold {
        font-weight: 600 !important;
    }

    @if $weight==bold {
        font-weight: 700 !important;
    }

    @if $weight==extra-bold {
        font-weight: 800 !important;
    }

    @if $weight==black-bold {
        font-weight: 900 !important;
    }

    @if $color {
        color: $color !important;
    }
}


/*##############################################
#            PLACEHOLDER COLORS                #
################################################*/
// Sets the Form Placeholder Color for all browsers

@mixin placeholderColor($color, $opacity, $fontfamily, $fontsize, $fontweight) {

    ::-moz-placeholder {
        color: $color !important;
        opacity: $opacity !important;
        font-family: $fontfamily;
        font-size: $fontsize;
        font-weight: $fontweight;
    }

    ::-ms-input-placeholder {
        color: $color !important;
        opacity: $opacity !important;
        font-family: $fontfamily;
        font-size: $fontsize;
        font-weight: $fontweight;
    }

    ::-webkit-input-placeholder {
        color: $color !important;
        opacity: $opacity !important;
        font-family: $fontfamily;
        font-size: $fontsize;
        font-weight: $fontweight;
    }

    ::placeholder {
        color: $color !important;
        opacity: $opacity !important;
        font-family: $fontfamily;
        font-size: $fontsize;
        font-weight: $fontweight;
    }

}