/*##############################################
#               COLOR VARIABLES                #
################################################*/
/*Please note that $black, $white, $color-primary and $color-secondary are staples of this framework.
It means changing them might break other parts of the framework
*/
$color-primary: #bd231e;
$color-secondary: #e5e5f7;
$gray-text: #909090;
$form-bg: rgba(255, 255, 255, 15%);
$light-gray: #EBEBEB;
$black: #000;
$white: #FFF;


/*##############################################
#            FONT WEIGHT VARIABLES             #
################################################*/
$light: 300 !important;
$regular: 400 !important;
$medium: 500 !important;
$semibold: 600 !important;
$bold: 700 !important;
$extra-bold: 800 !important;
$black-bold: 900 !important;

/*##############################################
#               FONT VARIABLES                 #
################################################*/
$heading-font: 'SourceSansPro',
sans-serif;
$default-font: 'SourceSansPro',
sans-serif !important;

/*##############################################
#              FRAMEWORK VARIABLES             #
################################################*/
/* CHANGE THEIR VALUES BUT DO NOT DELETE THEM UNLESS YOU KNOW WHAT YOU'RE DOING */
$body-bg-color: $white;
$body-text-color : $black;

//CONTAINERS
$default-container-inline-padding: 2.5rem;
$width-container: 181.4rem;
$width-container-medium: 148rem;
$width-container-small: 131rem;