<?php
namespace TG;
//****************************************
                                        
// ðŸ†ƒðŸ…¶                                     
// Wá´Ê€á´…á´˜Ê€á´‡ss Sá´›á´€Ê€á´›á´‡Ê€ TÊœá´‡á´á´‡                  
// @ð‘£ð‘’ð‘Ÿð‘ ð‘–ð‘œð‘› 1.0.0                            
                                        
//****************************************
// COMPONENT: {{ componentName }}
//****************************************
?>



<!-- ******************************** -->
<!-- {{ componentName }} component -->
<!-- ******************************** -->

<section class="{{ componentName }}" data-row-index="<?php echo $row_index;?>">
    <div class="container">
        <!-- COMPONENT CODE WILL GO HERE -->
    </div>
</section>

