<?php
namespace TG;
//****************************************                                    
// ðŸ†ƒðŸ…¶                                     
// Wá´Ê€á´…á´˜Ê€á´‡ss Sá´›á´€Ê€á´›á´‡Ê€ TÊœá´‡á´á´‡                                                                               
//****************************************
// SECTION TEMPLATE: {{ sectionName }}
//****************************************
?>

<!-- ******************************** -->
<!-- {{ sectionName }} section template -->
<!-- ******************************** -->


<section class="{{ sectionName }}">
    <div class="container-medium">
        <!-- SECTION CODE WILL GO HERE -->
    </div>
</section>
