<?php
namespace TG;
//****************************************
                                        
// ðŸ†ƒðŸ…¶                                     
// Wá´Ê€á´…á´˜Ê€á´‡ss Sá´›á´€Ê€á´›á´‡Ê€ TÊœá´‡á´á´‡                  
// @ð‘£ð‘’ð‘Ÿð‘ ð‘–ð‘œð‘› 2.0.0                            
                                        
//****************************************
// SECTION TEMPLATE: {{ sectionName }}
//****************************************
?>

<!-- ******************************** -->
<!-- {{ sectionName }} section template -->
<!-- ******************************** -->


<section class="{{ sectionName }}">
    <div class="container-medium">
        <!-- SECTION CODE WILL GO HERE -->
    </div>
</section>
