/*##############################################
#            GENERAL ANIMATIONS                #
################################################*/

a:not(.btn) {
    transition: all .35s ease-in-out;

    &:hover {
        color: $color-primary;
    }
}

.logo {

    transition: all .35s ease-in-out;

    &:hover {
        opacity: 0.7;
    }

}