/*##############################################
#                  CONTAINERS                  #
################################################*/

.container {
  margin: auto;
  max-width: $width-container;
  padding-inline: $default-container-inline-padding;


  @include when(tab-port) {
    max-width: 100%;
  }
}

.container-medium {
  margin: auto;
  max-width: $width-container-medium;
  padding-inline: $default-container-inline-padding;


  @include when(tab-port) {
    max-width: 100%;
  }
}


.container-small {
  margin: auto;
  max-width: $width-container-small;
  padding-inline: $default-container-inline-padding;


  @include when(tab-port) {
    max-width: 100%;
  }

}