/*##############################################
#                  CONTAINERS                  #
################################################*/

.container {
  margin: auto;
  max-width: 181.4rem;
  padding-left: 3rem;
  padding-right: 3rem;


  @include when(tab-port) {
    max-width: 100%;
  }
}

.container-medium {
  margin: auto;
  max-width: 148rem;
  padding-left: 3rem;
  padding-right: 3rem;


  @include when(tab-port) {
    max-width: 100%;
  }
}


.container-small {
  margin: auto;
  max-width: 131rem;
  padding-left: 3rem;
  padding-right: 3rem;


  @include when(tab-port) {
    max-width: 100%;
  }

}