body.login {
    background-color: #fff;
}

body.login div#login {
    width: 100%;
    height: fit-content;
}

@media only screen and (max-width: 600px) {
    body.login div#login {
        width: fit-content;
        padding-top: 150px;
    }
}

body.login div#login_error {
    border: 3px solid crimson;
}

body.login p.message {
    border: 3px solid slateblue;
}

body.login div#login_error,
body.login p.message {
    width: 530px;
    border-radius: 16px;
    height: fit-content;
    margin-inline: auto;
    background: rgba(87, 38, 38, 0.1);
}

@media only screen and (max-width: 600px) {

    body.login div#login_error,
    body.login p.message {
        width: auto;
        margin-inline: 15px;
    }
}

body.login div#login h1 a {
    background-image: url('../img/logo.svg');
    background-size: contain;
    width: 48px;
    height: 48px;
}

body.login div#login h1 {
    width: fit-content;
    margin-inline: auto;
}



body.login div#login p#nav,
body.login div#login p#backtoblog {
    width: fit-content;
    margin-inline: auto;
}

body.login div#login p#nav a,
body.login div#login p#backtoblog a {
    color: #000;
}

body.login div#login p#nav a:hover,
body.login div#login p#backtoblog a:hover {
    color: crimson;
}


body.login form {
    margin-inline: auto;
    background-color: rgba(87, 38, 38, 0.1);
    backdrop-filter: blur(5px);
    border-radius: 16px;
    border: none;
    box-shadow: 0 2px 6px rgba(87, 38, 38, 0.1);
    padding: 30px;
    width: 500px;
    height: fit-content;
}

@media only screen and (max-width: 600px) {
    body.login form {
        width: fit-content;
        margin-inline: 15px;
    }
}


/*checkbox*/
body.login form #rememberme {
    accent-color: crimson !important;
}

body.login form label {
    color: #000;
    font-size: 18px;
    font-weight: 600;
}

body.login div#login form#loginform button {
    top: 20px;
}

body.login div#login form#loginform button span.dashicons.dashicons-visibility:before,
body.login div#login form#loginform button span.dashicons.dashicons-hidden:before {
    color: tomato;
}

body.login div#login form#loginform button:focus,
body.login div#login form#loginform button:active {
    border: none;
    outline: none;
    box-shadow: none;
}

body.login form input[type="text"],
body.login form input[type="password"] {
    border-radius: 16px;
    background: rgba(255, 255, 255, 0.6);
    backdrop-filter: blur(5px);
    min-height: 52px;
    font-size: 18px;
    font-weight: 500;
    padding: 10px;
    border: none;
    margin-block: 15px;
    width: 100%;
}


body.login form input[type="text"]:focus,
body.login form input[type="password"]:focus {
    outline: 2px solid crimson;
    border-radius: 16px;
}


body.login form #wp-submit {
    transition: all 350ms ease-in-out;
    background-color: tomato;
    border-radius: 16px;
    border: none;
    padding: 5px 30px;
    font-size: 16px;
    font-weight: 600;
}

body.login form #wp-submit:hover {
    background-color: crimson;
}

body.login form #wp-submit:focus {
    outline: 2px solid crimson;
    border-radius: 16px;
}