<?php

/************************************
 * 
 * * {{ componentName }} COMPONENT
 * ? version 1.0
 * ! styles -> src/components/{{ componentName }}.scss
 * 
 ************************************/
?>

<!-- ########################### -->
<!-- ### COMPONENT - CONTENT ### -->
<!-- ########################### -->

<section class="{{ componentName }}">
    <div class="container">
        <!-- COMPONENT CODE WILL GO HERE -->
    </div>
</section>

<!-- ########################### -->
<!-- ### COMPONENT - SCRIPTS ### -->
<!-- ########################### -->
<script>
    jQuery(document).ready(($) => {

    });
</script>
